---
layout: lesson
root: ..
title: Setup Instructions
---
<p>
  Please install the following software prior to arriving at the boot camp.
</p>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/windows-bash.html %}
    {% include setup/macosx-bash.html %}
    {% include setup/linux-bash.html %}
    {% include setup/overview-r.html %}
    {% include setup/windows-r.html %}
    {% include setup/macosx-r.html %}
    {% include setup/linux-r.html %}
  </div>
  <div class="span6">
    {% include setup/overview-editor.html %}
    {% include setup/windows-editor.html %}
    {% include setup/macosx-editor.html %}
    {% include setup/linux-editor.html %}
    {% include setup/overview-git.html %}
    {% include setup/windows-git.html %}
    {% include setup/macosx-git.html %}
    {% include setup/linux-git.html %}
  </div>
</div>

{% include setup/vm.html %}
